<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}POS Kem{% endblock %}</title>

    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'lista_productos' %}">
            Sistema POS - Gestión de Productos
        </a>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var eliminarModal = document.getElementById('eliminarModal')

    eliminarModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var productoId = button.getAttribute('data-id')
        var productoNombre = button.getAttribute('data-nombre')

        var nombreSpan = document.getElementById('nombreProducto')
        var form = document.getElementById('formEliminar')

        nombreSpan.textContent = productoNombre
        form.action = "{% url 'eliminar_producto' 0 %}".replace('0', productoId)
    })
})
</script>
</body>
</html>